@(listdisp: List[Users])(implicit messages: Messages)
 


@import helper._
 <br><br>
 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 	<style type="text/css">
 	.navbar-inverse {
	    background-color: #4248ca !important ;
	    border-color: #080808 !important;
	    color: white !important;
    }
    a{
        color: white !important;
    }
 	</style>
 </head>
 <body style="background-color: #e0e0e0">

 <br><br>
@main("Display SQL RESULT") {
    <br><br>
   	<table width="100%" border=1 cellpadding='10' cellspacing='10'>
   	    <tr>
   	    	<td><b>FIRST NAME</b></td>
   	    	<td><b>LAST NAME</b></td>
   	    	<td><b>PHONE NUMBER</b></td>
   	    	<td><b>ADDRESS</b></td>
   	    	<td><b>ACTION</b></td>

   	    </tr>
   	   @for(i <- listdisp){
          <tr>
          	<td>@i.fname</td> 
          	<td>@i.lname</td>
          	<td>@i.pno</td>
          	<td>@i.address</td>
          	<td><a href="/users/@i.id" style="color:blue!important;">Delete</a></td>
          </tr>
       }
    </table>
}
  

 </body>
 </html>
      
       